
.brand-nav {
    background-color: #777;
    padding: 50px;
    text-align: center;
    color: white;
  }

  h1{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  